body{
    background-color: rgb(231, 231, 231);
}

.content{
    margin-top: 7%;
}

.attendance-register{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.attendance-status{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    background-color: rgb(192, 191, 191);
    border-radius: 30px;
    font-size: 14px;
    margin: 0;
    color:rgb(76, 75, 75);
}

.attendance-info__date{
    font-size: 30px;
    margin: 30px 0 0 0;
}

.attendance-info__time{
    font-size: 55px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin: 30px 0 30px 0;
}

.attendance-register__form{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.attendance-register__button {
    color: #fff;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: black solid 1px;
    background-color: black;
    cursor: pointer;
    text-align: center;
    padding: 5px 40px;
    margin-top: 30px;
}

.attendance-register__button--break {
    color: black;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: white solid 1px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px 35px;
    margin-top: 30px;
}

.message{
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    align-items: center;
}

@media(min-width: 768px) and (max-width: 850px) {

    .attendance-status{
        font-size: 12px;
    }
    
    .attendance-info__date{
        font-size: 26px;
    }
    
    .attendance-info__time{
        font-size: 50px;
    }
    
    
    .attendance-register__button {
        font-size: 18px;
        height: 40px;
        padding: 5px 40px;
    }
    
    .attendance-register__button--break {
        font-size: 18px;
        height: 40px;
        padding: 5px 35px;
    }
    
    .message{
        font-size: 18px;
        margin-top: 30px;
    }
}