body{
    background-color: rgb(231, 231, 231);
}

.content{
    margin-top: 10%;
}

.attendance-register{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.attendance-status{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    background-color: rgb(192, 191, 191);
    border-radius: 30px;
    font-size: 18px;
    margin: 0;
    color:rgb(76, 75, 75);
}

.attendance-info__date{
    font-size: 36px;
    margin: 30px 0 0 0;
}

.attendance-info__time{
    font-size: 65px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin: 30px 0 30px 0;
}

.attendance-register__form{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.attendance-register__button {
    color: #fff;
    font-size: 25px;
    height: 50px;
    border: none;
    border-radius: 10px;
    border: black solid 1px;
    background-color: black;
    cursor: pointer;
    text-align: center;
    padding: 5px 50px;
    margin-top: 30px;
}

.attendance-register__button--break {
    color: black;
    font-size: 25px;
    height: 50px;
    border: none;
    border-radius: 10px;
    border: white solid 1px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px 45px;
    margin-top: 30px;
}

.message{
    font-size: 20px;
    margin-top: 40px;
}