.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

p {
  position: absolute;
  top: 60px;
  font-size: 22px;
}

.auth {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 10px 10px;
  padding: 10px 15px;
  position: absolute;
  top: 180px;
  font-size: 24px;
  font-weight: bold;
}

.auth__retry {
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 300px;
}

.auth__retry button {
  border: none;
  font-size: 20px;
  color: blue;
  background-color: transparent;
}

/* タブレット用 (768-850px) */
@media (min-width: 768px) {
  p {
    font-size: 20px;
  }

  .auth {
    font-size: 22px;
  }

  .auth__retry button {
    font-size: 18px;
  }
}

/* PC用 (1400-1540px) */
@media (min-width: 1400px) {
  p {
    font-size: 22px;
  }

  .auth {
    font-size: 24px;
  }

  .auth__retry button {
    font-size: 20px;
  }
}
