.mail_notice--div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 10%;
}

.notice_header--p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.mail_notice--content {
    height: auto;
}

.notice_resend--p {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}

.mail_resend--p {
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}

.mail_resend--a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(233, 228, 228);
    margin: 40px 0 40px 0;
}

.mail_resend--form {
    justify-content: center;
    text-align: center;
    margin: 40px 0;
}

.mail_resend--button {
    border: none;
    background-color: transparent;
    color: rgb(8, 174, 245);
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 850px) {
    .notice_header--p {
        font-size: 16px;
    }

    .notice_resend--p {
        font-size: 18px;
        padding: 20px 0;
    }

    .mail_resend--p {
        padding: 20px 0;
    }

    .mail_resend--a {
        font-size: 16px;
        padding: 8px 18px;
        margin: 30px 0 30px 0;
    }

    .mail_resend--form {
        margin: 30px 0;
    }

    .mail_resend--button {
        font-size: 14px;
        cursor: pointer;
    }
}
